<div> 
<div class="pagination__title">
  <span class="pagination__title-h" style="font-size: 20px;">
    <i class="fa-solid fa-thumbs-up"></i> 点赞 <span style="font-size: 16px; opacity: 0.6;">(Like)</span>
  </span>
</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="lightgray" data-identifier="heirenlop" data-site_id="685b87cd943ec90d3b9a14b0" data-show_share="false"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

