<section class="container page">
  <article>
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ .Title }}
        </a>
      </h1>

      <!-- 仅在博客内容页面显示 -->
      {{ if eq .Type "posts" }}
      <div class="post-meta">
        {{ with .GitInfo }}
          <span class="meta-item">
            <i class="fas fa-calendar-alt"></i> {{ .AuthorDate.Format "2006-01-02 15:04:05" }}
          </span>
        {{ end }}
        <span class="meta-item">
          <i class="fas fa-book-open"></i> {{ .Plain | len }} 字
        </span>
        <span class="meta-item">
          <i class="fas fa-eye"></i>  <span id="busuanzi_value_page_pv"></span> 次
        </span>
      </div>
      {{ end }}

    </header>
    {{ .Content }}
  </article>
</section>
