<div>
  <div class="pagination__title">
    <span class="pagination__title-h" style="font-size: 20px;">
      <i class="fa-solid fa-share-alt" aria-hidden="true"></i>
      分享 <span style="font-size: 16px; opacity: 0.6;">(Share)</span>
    </span>
  </div>
      
 
      
    <div class="share-box">
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="white-space: nowrap;">
        <a class="a2a_button_sina_weibo"  title="分享到微博 / Share to Weibo" style="margin-right: 4px;"></a>
        <a class="a2a_button_telegram" title="分享到电报 / Share to Telegram" style="margin-right: 4px;"></a>
        <a class="a2a_button_x" title="分享到推特 / Share to X" style="margin-right: 4px;"></a>
        <a class="a2a_button_facebook" title="分享到脸书 / Share to Facebook" style="margin-right: 4px;"></a>
        <a class="a2a_button_copy_link" title="点击复制链接 / Click to copy the link"></a>
      </div>
    </div>
        
    <!-- 分享说明 -->
    <div style="font-size: 1.3rem; color: #888; margin-top: 0.5rem;">
      如需转载/引用，请注明出处。商业转载请联系作者授权。(Please indicate the source when sharing. Contact for commercial use.）
    </div>
  </div>

  
  <!-- AddToAny 脚本 -->
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  